{% extends 'base.html' %}
{% load static %}
{% block contend %}
  <div class="header__bottom">
    <div class="container">
      <div class="row"><!-- Header > Catalog button -->
        <div class="col-lg-3 position-none">
          <div class="header1__catalog active">
            <div class="header__catalog-shadow"></div>
            <a class="header__catalog-btn btn-red" href="">
              <picture>
                <source srcset="{% static 'icon/menu.svg' %}" type="image/webp"/>
                <img alt="" src="{% static 'icon/menu.svg' %}"/></picture>
              <span>Каталог товарів</span> </a> <!-- =========== Header Catalog =========== -->

            <div class="header__catalog-menu">
              <ul>
                {% for i in top_category %}
                  <li>
                    <a href="">
                      {% if i.category_icon %}
                        <img class="menucust_icon" src="{{ i.category_icon.url }}" alt=""/>
                      {% endif %}
                      <span>{{ i.title }}</span></a>
                    <ul>
                      {% for cat in i.category_set.all %}
                        <li>
                          <a href="{{ cat.get_absolute_url }}"><span>{{ cat.title }}</span></a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===================== /.Header =====================-->
  <!-- ===================== Mobile Menu / Mobile Catalog =====================-->
  <div class="mobile-menu mobile-menu--hide">
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__content"><a class="mobile-menu__logo" href="{% url 'home' %}">
        <picture>
          <source srcset="{% static 'icon/978.svg' %}" type="image/webp"/>
          <img alt="" src="{% static 'icon/978.svg' %}"/></picture>
      </a> <!-- Mobile Menu > Login -->
        <div class="mobile-menu__login"><a class="mobile-menu__login--sign-in"
                                           href="">Вхід</a> <a
            class="mobile-menu__login--register" href="">Реєстрація</a></div>
        <!-- Mobile Menu > Catalog -->
        <ul class="mobile-menu__catalog">
          <li><a id="mobmenu"><span>Каталог товарів</span></a>
            <ul>
              <li>{% for i in top_category %}</li>
                <li><a> <img class="menucust_icon" src="{{ i.category_icon.url }}" alt="{{ i.title }}"/>
                  <span>{{ i.title }}</span></a>
                  <ul>
                    <li>{% for cat in i.category_set.all %}</li>
                      <li><a href="{{ cat.get_absolute_url }}"><span>{{ cat.title }}</span></a></li>
                      <li>{% endfor %}</li>
                  </ul>
                </li>
                <li>{% endfor %}</li>
            </ul>
          </li>
        </ul>
        <!-- Mobile Menu > Actions -->
        <div class="mobile-menu__actions"><a class="mobile-menu__actions--whishlist"
                                             href="">Закладки</a><a
            class="mobile-menu__actions--cart" href="">Корзина</a></div>
        <!-- Mobile Menu > Contacts -->
        <div class="mobile-menu__contacts"><a class="callback js-callback-popup" data-target="#orderModal">Зворотній
          зв'язок</a> <a class="email" href="#">info@978.com.ua</a> <a class="phone" href="tel:++38(055)55-55-05">+38(999)440-20-10</a>
        </div>
        <!-- Mobile Menu > Menu -->
        <ul class="mobile-menu__menu">
          <li><a href="dostavka-oplata"><span>Оплата й доставка</span></a></li>
          <li><a href="contact-us"><span>Контакти</span></a></li>
        </ul>

      </div>
      <!-- Mobile Menu > Close Button --><a class="mobile-menu__close js__mobile-menu" href="#">Закрыть</a></div>
  </div>
  <!-- ===================== /.Mobile Menu / Mobile Catalog =====================-->
  <!-- ===================== Promo Section =====================-->

  <section class="promo">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 offset-lg-3 promo__inner">
          <!-- =========== Promo > Slider =========== -->
          <div class="promo__slider">
            <div class="promo__slider-slide">
              <div>
                <picture><img src="{% static "img/baner1.jpg" %}" alt="Бесплатная доставка"/></picture>
              </div>
            </div>
            <div class="promo__slider-slide">
              <div class="">
                <picture><img src="{% static "img/baner2.jpg" %}" alt="Бесплатная доставка"/></picture>
              </div>
            </div>
            <div class="promo__slider-slide">
              <div class="">
                <picture><img src="{% static "img/baner3.jpg" %}" alt="Бесплатная доставка"/></picture>
              </div>
            </div>
          </div>
          <!-- Promo Slider > Controls -->
          <div class="promo__slider-controls slick-controls">
            <div class="slick-controls__dots"></div>
            <div class="slick-controls__arrows"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===================== /.Promo Section =====================-->
  <section class="section advantages">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="advantages__item">
            <div class="advantages__item-content">
              <p class="advantages__item-title">Доставка</p>
              <p class="advantages__item-description">Доставка за адресою курєром або в вказане відділення &ldquo;Нова
                Пошта&rdquo;</p>
            </div>
            <div class="advantages__item-icon">
              <picture>
                <source srcset="{% static 'icon/delivery.svg' %}" type="image/webp"/>
                <img alt="" src="{% static 'icon/delivery.svg' %}"/></picture>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="advantages__item">
            <div class="advantages__item-content">
              <p class="advantages__item-title">Гарантія</p>

              <p class="advantages__item-description">12 місяців від магазину</p>
            </div>

            <div class="advantages__item-icon">
              <picture>
                <source srcset="{% static 'icon/guarantee.svg' %}" type="image/webp"/>
                <img alt="" src="{% static 'icon/guarantee.svg' %}"/></picture>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="advantages__item">
            <div class="advantages__item-content">
              <p class="advantages__item-title">Оплата</p>

              <p class="advantages__item-description">Оплатити покупку можна готівкою, карткою або безготівковим...</p>
            </div>

            <div class="advantages__item-icon">
              <picture>
                <source srcset="{% static 'icon/payments.svg' %}" type="image/webp"/>
                <img alt="" src="{% static 'icon/payments.svg' %}"/></picture>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="advantages__item">
            <div class="advantages__item-content">
              <p class="advantages__item-title">Повернення</p>

              <p class="advantages__item-description">Повернення впродовж 14 днів після покупки, відповідно до
                закону</p>
            </div>

            <div class="advantages__item-icon">
              <picture>
                <source srcset="{% static 'icon/exchange.svg' %}" type="image/webp"/>
                <img alt="" src="{% static 'icon/exchange.svg' %}"/></picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main class="main">
    <div class="container">
      <div class="main__inner row">
        <article class="main__article">
          <section class="section info">
            <div class="container">
              <div class="row"><!-- ========== Consultation ========== -->
                <div class="col-md-7 js_consultation--mobile"></div>
                <!-- ========== Help ========== -->

                <div class="col-md-5 js_help--mobile"></div>
              </div>
            </div>
          </section>

          {% if popular_products %}
            <section class="section tabs">
              <div class="container">
                <div class="tabs__head">
                  <p class="tabs__title section__title">Топ товарів</p>
                  <!-- ========== Tabs > Nav ========== -->
                </div>
                <!-- ========== Tabs > Content ========== -->
                <div class="tabs__content">
                  <!-- ========== Tabs > Tab ========== -->
                  <div class="tabs__tab">
                    <!-- ========== Product Slider ========== -->
                    <div class="products-slider">
                      {% for i in popular_products %}
                        <div class="products-slider__slide">
                          <div class="product-card">
                            <a href="{{ i.get_absolute_url }}"
                               class="product-card__image">
                              <img src="{{ i.productimage_set.first.img.url }}"
                                   alt="{{ i.title }}">
                            </a>
                            <div class="product-card__content">
                              <a href="{{ i.get_absolute_url }}"
                                 class="product-card__title">{{ i.title }}</a>
                              <div class="product-card__status ">В наявності</div>
                              <div class="product-card__price">
                                <span class="current">{{ i.price }} ₴</span>
                              </div>
                              <div class="product-card__buttons">
                                <a href="{% url "cart:cart_add" i.id %}"
                                   class="product-card__buy btn-red-out remarketing_cart_button"
                                   tabindex="0">В
                                  кошик</a>
                                <a class="product-card__btn product-card__btn--whishlist icon-whishlist"
                                   tabindex="0"></a>
                                <a class="product-card__btn product-card__btn--compare icon-compare"
                                   tabindex="0"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                      <div class="slick-controls">
                        <div class="slick-controls__dots"></div>
                        <div class="slick-controls__arrows"></div>
                      </div>
                    </div>
                  </div>
                  <!-- ========== /.Product Slider ========== -->
                </div>
                <!-- ========== /.Tabs > Tab ========== -->
              </div>
            </section>
            </article>
            </div>
          {% endif %}
    </div>
  </main>
{% endblock %}
