{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>978.UA</title>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
  <!-- ****** faviconit.com favicons ****** -->


  <script type="text/javascript" src={% static 'js/jquery-3.5.1.min.js' %}></script>
  <script type="text/javascript" src={% static 'js/script.js' %}></script>
  <!-- CSS -->
  {% block custom_css %} {% endblock custom_css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

  <!-- CSS Plugins -->
  <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/microtip.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}">
</head>
<body class="common-home">
{% block catagory_catalog %}
{% endblock catagory_catalog %}
<!-- ===================== Header =====================-->
<header class="header">
  <!-- =========== Header > Middle =========== -->
  <div class="header__middle">
    <div class="container">
      <div class="row">
        <!-- Header > Me nu Button -->
        <a href="#" class="header__menu-btn js__mobile-menu"></a>
        <!-- Header > Logo -->
        <a href="{% url "home" %}" class="header__logo">
          <img src="{% static 'icon/978.svg' %}" alt="">
        </a>
        <form action="" id="search-form" class="header__search" method="get">
          <input id="search-input" name="q" class="header__search-input" placeholder="Я шукаю...">
          <button class="header__search-btn"></button>
          <div id="results-box" class="results-card not-visible"><p></p></div>
        </form>
        <!-- Header > Actions -->
        <div class="header__actions">
          {% if user.is_authenticated %}
            <a href="{% url "account:profile" %}" class="header__actions-btn">
                            <span class="header__actions-icon">
                            <span style="display:none;" class="header__actions-counter">0</span>
                            <span class="header__actions-icon--order-list-total"></span>
                            </span>
            </a>
            <a href="" class="header__actions-btn">
                            <span class="header__actions-icon">
                            <span id="wishlist-total" style="display:none;" class="header__actions-counter">0</span>
                            <span class="header__actions-icon--whishlist"></span>
                            </span>
            </a>
          {% else %}
            <a href="{% url 'account:login' %}" class="header__actions-btn">
            <span class="header__actions-icon">
                            <span id="compare-total" style="display:none;" class="header__actions-counter">0</span>
                            <span class="header__actions-icon--profile"></span>
                            </span>
          {% endif %}
          </a>
          <a href="{% url 'cart:cart_detail' %}" class="header__actions-btn">
								<span class="header__actions-icon">
									<span style="" class="header__actions-counter" id="cart-total2"><span
                      id="cart-total">{{ cart.get_total_item }}</span></span>
									<span class="header__actions-icon--cart"></span>
								</span>
            <span class="header__actions-info">
									<span class="header__actions-title">Кошик</span>
									<span class="header__actions-amount">{{ cart.get_total_price }} ₴</span>
								</span>
          </a>
          <div style="display:none;opacity:0;">
            <ul>
            </ul>
          </div>
        </div>
        <div class="header__m-search">
          <form action="" id="search-form" class="header__m-search-form" method="post">
            <button class="header__m-search-open"></button>
            <input id="search-input" class="header__m-search-input" name="q"
                   placeholder="Я шукаю...">
            <button class="header__m-search-close"></button>
            <div id="results-box" class="results-card not-visible"><p></p></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
{% block contend %}

{% endblock %}
<footer class="footer">
  <div class="footer__inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 footer__col">
          <a href="" class="footer__logo">
            <picture>
              <img src="{% static 'icon/Footer978.svg' %}" alt="">
            </picture>
          </a>
          <div class="footer__box">
            <p class="footer__title">Графік роботи Call-центру</p>
            <a href="tel:+380665208005" class="footer__contact phone">+38(096)063-55-55</a> <a
              href="mailto:info@978UA.ua"
              class="footer__contact email">info@978UA.ua</a> <a href="#"
                                                                 class="footer__contact-btn btn-red-out js-callback-popup">Зворотній
            зв'язок</a>
          </div>
          <div class="footer__box">
            <p class="footer__title">Приймаємо до оплати:</p>
            <div class="footer__payment">
              <picture>
                <source srcset="{% static 'icon/privatbank.svg' %}" type="image/webp">
                <img src="{% static 'icon/privatbank.svg' %}" alt="">
              </picture>
              <picture>
                <source srcset="{% static 'icon/visa.svg' %}" type="image/webp">
                <img src="{% static 'icon/visa.svg' %}" alt="">
              </picture>
              <picture>
                <source srcset="{% static 'icon/mastercard.svg' %}" type="image/webp">
                <img src="{% static 'icon/mastercard.svg' %}" alt="">
              </picture>
              <picture>
                <source srcset="{% static 'icon/liqpay.svg' %}" type="image/webp">
                <img src="{% static 'icon/liqpay.svg' %}" alt="">
              </picture>
            </div>
          </div>
        </div>
        <div class="col-lg-3 footer__col">
          <div class="footer__box">
            <p class="footer__title">Інформація</p>
            <div class="footer__list">
              <a href="">Доставка та оплата</a>
              <a href="">Гарантії</a>
              <a href="">Повернення та обмін товару</a>
              <a href="">Політика конфіденційності</a>
              <a href="">Публічна оферта</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 footer__col">
          <div class="footer__box">
            <p class="footer__title">Компанія</p>
            <div class="footer__list">
              <a href="">Про нас</a>
              <a href="">Контакти</a>
              <a href="">Партнерство</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 footer__col">
          <div class="footer__box">
            <p class="footer__title">Підписуйтесь на новини та знижки</p>
            <div class="footer__subscribe">
              <p class="footer__subscribe-text">І будьте в курсі всіх актуальних подій на нашому
                сайті</p>
              <form action="#" class="footer__subscribe-form">
                <input type="text" id="newsletteremail" autocomplete="email" value=""
                       placeholder="E-Mail" class="form-control footer__subscribe-input">
                <button type="button" class="footer__subscribe-btn btn-red btn-blick"
                        data-toggle="modal" data-target="#orderModal" data-order-mode="newsletter">
                  Підписатися
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="footer__copyright-text">
          Copyright © 2022 978 UA. Всі права захищені<br/>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="mobil_mini"><i class="fa fa-times"></i></div>
<div class="callback-popup">
  <div class="callback-popup__wrap">
    <div class="callback-popup__container">
      <!-- ========= Callback Popup > Content ========= -->
      <div id="orderModal" class="callback-popup__box">
        <div class="modal-dialog">
          <!-- Callback Popup > Header -->
          <a href="#" class="callback-popup__close js-callback-popup"></a>
          <!-- Callback Popup > Form -->
          <div class="callback-popup__body">
            <div class="callback-popup__head">
              <p class="callback-popup__title">Залиште свої дані</p>
              <p class="callback-popup__subtitle">І наш менеджер зв'яжеться з вами</p>
            </div>
            <div class="callback-popup__form">
              <div class="callback-popup__group">
                <input type="text" id="quickordername" name="quickordername"
                       class="callback-popup__input" placeholder="Ваше ім'я">
                <input type="tel" id="quickorderphone" name="quickorderphone"
                       class="callback-popup__input" placeholder="Ваш телефон" required>
                <input type="text" class="callback-popup__input" id="quickordercomment"
                       name="quickordercomment" placeholder="Коментар">
              </div>
              <div class="callback-popup__suc" style="display:none;">
                Ваш запит успішно сформований, ми незабаром вам передзвонимо
              </div>
              <a id="callback-popup__btn" class="callback-popup__btn btn-red btn-blick">Залишити заявку
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ========= /.Callback Popup > Content ========= -->
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/datepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.rateit.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/justselect.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
<script src="{% static 'js/jquery.u-mobile-menu.js' %}"></script>
<script src="{% static 'js/script_product.js' %}"></script>

{% block js %} {% endblock %}

</body>
</html>
